---
# tasks file for portainer_agent
- name: Deploy Portainer Agent container
  docker_container:
    name: portainer_agent
    image: portainer/agent:latest
    restart_policy: always
    ports:
      - "9001:9001"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/var/lib/docker/volumes:/var/lib/docker/volumes"
