---
- name: Ensure Portainer NFS mounts are available
  vars:
    portainer_nfs_mounts:
      - src: 192.168.30.99:/mnt/HDD/media
        path: /mnt/media
      - src: 192.168.30.99:/mnt/HDD/torrents
        path: /mnt/torrents
      - src: 192.168.30.99:/mnt/HDD/app
        path: /mnt/app
  block:
    - name: Ensure NFS mount directories exist
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: directory
        mode: "0755"
      loop: "{{ portainer_nfs_mounts }}"

    - name: Mount Portainer NFS shares
      ansible.posix.mount:
        src: "{{ item.src }}"
        path: "{{ item.path }}"
        fstype: nfs
        opts: defaults
        dump: 0
        passno: 0
        state: mounted
      loop: "{{ portainer_nfs_mounts }}"
