---
- name: Ensure 'will' user exists
  ansible.builtin.user:
    name: will
    shell: /bin/bash
    state: present

- name: Set authorized key for 'will'
  ansible.builtin.authorized_key:
    user: will
    key: "{{ will_ssh_key }}"
    state: present

- name: Allow 'will' passwordless sudo
  ansible.builtin.copy:
    dest: /etc/sudoers.d/will
    content: "will ALL=(ALL) NOPASSWD:ALL\n"
    owner: root
    group: root
    mode: '0440'

- name: Disable SSH password authentication
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PasswordAuthentication'
    line: 'PasswordAuthentication no'
    state: present
    backup: yes

- name: Restart SSH service
  ansible.builtin.service:
    name: ssh
    state: restarted

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes

- name: Upgrade all packages
  ansible.builtin.apt:
    upgrade: dist

- name: Install base packages (KVM guest tools, Apache, NFS client)
  ansible.builtin.apt:
    name:
      - qemu-guest-agent
      - nfs-common
      - apache2
      - spice-vdagent
    state: present

- name: Ensure qemu-guest-agent is started and enabled
  ansible.builtin.service:
    name: qemu-guest-agent
    state: started
    enabled: yes
